<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>${ServletContextName} [%level] -%X{logFileMark}%X{logUserMark} %d{yyyy-MM-dd HH:mm:ss} "%msg"%X{req.locale}%X{req.remoteHost}%X{req.method}%X{req.requestURL}%X{req.queryString}%X{req.referer} - [%logger{100}][%thread] %n</Pattern>
		</layout>
	</appender>
	
	
	<!-- 按照每天生成日志文件 AbsPath、ServletContextName 是在LogbackConfigListener中設置的-->
	<!-- info级别日志 -->
	<appender name="infoSift" class="ch.qos.logback.classic.sift.SiftingAppender">
	    <discriminator>
	        <Key>logFileMark</Key>
	        <DefaultValue>common</DefaultValue>
	    </discriminator>
	    <sift>
	        <appender name="infoLogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		        <Encoding>UTF-8</Encoding>
		        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		            <FileNamePattern>${AbsPath}/WEB-INF/logs/info/${logFileMark}-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
		            <MaxHistory>30</MaxHistory>
		            <timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
			        	<maxFileSize>2MB</maxFileSize>
			      	</timeBasedFileNamingAndTriggeringPolicy>
		        </rollingPolicy>
		        <layout class="ch.qos.logback.classic.PatternLayout">
		            <Pattern>${ServletContextName} [%level] -%X{logFileMark}%X{logUserMark} %d{yyyy-MM-dd HH:mm:ss} "%msg"%X{req.locale}%X{req.remoteHost}%X{req.method}%X{req.requestURL}%X{req.queryString}%X{req.referer} - [%logger{56}][%thread] %n</Pattern>
		        </layout>
		        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		       		<level>INFO</level>
		       		<onMatch>ACCEPT</onMatch>
		       		<onMismatch>DENY</onMismatch>
		        </filter>
		    </appender>
        </sift>
    </appender>
    
    <!-- warn级别日志 -->
	<appender name="warnSift" class="ch.qos.logback.classic.sift.SiftingAppender">
	    <discriminator>
	        <Key>logFileMark</Key>
	        <DefaultValue>common</DefaultValue>
	    </discriminator>
	    <sift>
	        <appender name="warnLogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		        <Encoding>UTF-8</Encoding>
		        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		            <FileNamePattern>${AbsPath}/WEB-INF/logs/warn/${logFileMark}-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
		            <MaxHistory>30</MaxHistory>
		            <timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
			        	<maxFileSize>2MB</maxFileSize>
			      	</timeBasedFileNamingAndTriggeringPolicy>
		        </rollingPolicy>
		        <layout class="ch.qos.logback.classic.PatternLayout">
		            <Pattern>${ServletContextName} [%level] -%X{logFileMark}%X{logUserMark} %d{yyyy-MM-dd HH:mm:ss} "%msg"%X{req.locale}%X{req.remoteHost}%X{req.method}%X{req.requestURL}%X{req.queryString}%X{req.referer} - [%logger{1000}][%thread] %n</Pattern>
		        </layout>
		        <filter class="ch.qos.logback.classic.filter.LevelFilter">
		       		<level>WARN</level>
		       		<onMatch>ACCEPT</onMatch>
		       		<onMismatch>DENY</onMismatch>
		        </filter>
		    </appender>
        </sift>
    </appender>
    
    <!-- error级别日志 -->
	<appender name="errorSift" class="ch.qos.logback.classic.sift.SiftingAppender">
	    <discriminator>
	        <Key>logFileMark</Key>
	        <DefaultValue>common</DefaultValue>
	    </discriminator>
	    <sift>
	        <appender name="errorLogfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		        <Encoding>UTF-8</Encoding>
		        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		            <FileNamePattern>${AbsPath}/WEB-INF/logs/error/${logFileMark}-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
		            <MaxHistory>30</MaxHistory>
		            <timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
			        	<maxFileSize>2MB</maxFileSize>
			      	</timeBasedFileNamingAndTriggeringPolicy>
		        </rollingPolicy>
		        <layout class="ch.qos.logback.classic.PatternLayout">
		            <Pattern>${ServletContextName} [%level] -%X{logFileMark}%X{logUserMark} %d{yyyy-MM-dd HH:mm:ss} "%msg"%X{req.locale}%X{req.remoteHost}%X{req.method}%X{req.requestURL}%X{req.queryString}%X{req.referer} - [%logger{1000}][%thread] %n</Pattern>
		        </layout>
		        <filter class="ch.qos.logback.classic.filter.LevelFilter">
		       		<level>ERROR</level>
		       		<onMatch>ACCEPT</onMatch>
		       		<onMismatch>DENY</onMismatch>
		        </filter>
		    </appender>
        </sift>
    </appender>
	

	<!-- 日志级别Levels: ALL, ERROR, WARN, INFO, DEBUG, OFF -->
	<logger name="org.springframework" level="INFO"></logger>
	<logger name="org.apache.zookeeper" level="INFO"></logger>
	<logger name="org.hibernate" level="WARN"></logger>
	<logger name="org.hibernate.cache.EhCacheProvider" level="ERROR"></logger>
	<logger name="com" level="INFO"></logger>
	
    <root level="INFO">
        <appender-ref ref="console" />
		<appender-ref ref="infoSift" />
		<appender-ref ref="warnSift" />
		<appender-ref ref="errorSift" />
    </root>
</configuration>